/* import vars */
@import '@/styles/vars';
/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    background-color: $main-bg;
    font-family: $primary-text
}

.debug {
    border: 1px solid red;
}